audioread
certifi
cffi
charset-normalizer
cloudpickle
contourpy
cycler
decorator
filelock
fonttools
fsspec
idna
Jinja2
joblib
kiwisolver
lazy-loader
librosa
llvmlite==0.41.1
MarkupSafe
matplotlib
ml_dtypes
mpmath
msgpack
networkx
numba==0.58.1
numpy==1.26.4
onnx
packaging
pandas
pillow
platformdirs
pooch
protobuf
pycparser
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
seaborn
six
soundfile
soxr
sympy
threadpoolctl
torch
typing_extensions
tzdata
urllib3
